<div class="mx-auto">
	<div class="text-center">
		<h1>Book Library</h1> <br><hr>
		
		<form method= 'GET' action="/search/*" autocomplete="off">
            <br>
			<input type="text" placeholder="Enter language here" class="input-box" name="query" required>
            <br>
            <input type="submit" value="Submit" class="search">
    	</form>
	</div>
	<table class="table table-striped">
		<thead>
			<th>Title</th>
			<th>Author</th>
			<th>Country</th>
			<th>Language</th>
			<th>Link</th>
			<th>Pages</th>
			<th>Year</th>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>