<div class="mx-auto">
	{{!-- <div class="text-center">
		<h1>Book Library</h1> <br><hr>
		
		<form method= 'GET' action="/search/*" autocomplete="off">
            <br>
			<input type="text" placeholder="Enter language here" class="input-box" name="query" required>
            <br>
            <input type="submit" value="Submit" class="search">
    	</form>
	</div> --}}
	<table class="table table-striped">
		<thead>
			<th>Username</th>
			<th>Name</th>
			<th>age</th>
			<th>City</th>
		</thead>
		<tbody>
			{{#each response}}
			<tr>
				<td>{{{this.username}}}</td>
				<td>{{this.name}}</td>
				<td>{{this.age}}</td>
				<td>{{this.city}}</td>
			</tr>
			{{/each}}
			
		</tbody>
	</table>
</div>